# =====================
# Secrets
# =====================
.env
wa-bot/.env

# =====================
# Node
# =====================
node_modules/
wa-bot/node_modules/

# =====================
# Logs
# =====================
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# =====================
# OS
# =====================
.DS_Store
Thumbs.db

# =====================
# Editor
# =====================
.vscode/
